body{
margin: 0%;
padding: 0%;
background-color: #5a7670;
background-repeat: no-repeat;
height: 700px;


}
section{
    display: flex;
}
.half-wethid img{ width: 90%;
    margin-left: 45px;
    margin-top: 8px;
   
}
.half-wethid{width: 45%;
    margin-left: 10px;
    color: aliceblue;
    font-weight: bold;
    height: 450px;
    

}
.half-wethid p {box-shadow: 10px 10px 400px -19px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 400px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 400px -19px rgba(0,0,0,0.75);
    border: solid 5px #ff8c00;
    border-radius: 2px;
    padding: 10px;
}
.half-wethid h1{font-size: 45px;
    font-family: 'Barlow Condensed', sans-serif;
    
}
.web-sit{ font-size: 25px;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);


}
.smail{
    color: #ff8c00;
    
}
.baton{ text-decoration: none;
color: white;
font-weight: bold;
background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
padding: 5px 10px;
border-radius: 10px;
border: solid 2px orange;
}
.border-1{ margin: 8px;
    color: #d9d9d9;
    color: #d9d9d9;
padding: 15px;
    border: 5px solid hsl(87, 89%, 18%) ;
    border-radius: 2px;
    width: 45%;


    box-shadow: 10px 10px 400px -19px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 400px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 400px -19px rgba(0,0,0,0.75);

}

